@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gestão Acadêmica</h1>
    <p>Escolha uma opção para consultar:</p>
    <br />
    <br />
    <!-- Cards para cada opção -->
    <div class="row justify-content-center mt-4">
        <!-- Card de Estudantes -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Consulta de Estudantes</h5>
                    <a href="/Students" class="btn btn-primary">Ver Estudantes</a>
                </div>
            </div>
        </div>

        <!-- Card de Turmas -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Alunos Acima da Média</h5>
                    <a href="/Students" class="btn btn-primary">Ver Turmas</a>
                </div>
            </div>
        </div>

        <!-- Card de Disciplinas -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Frequência dos Alunos</h5>
                    <a href="/Students" class="btn btn-primary">Ver Disciplinas</a>
                </div>
            </div>
        </div>
    </div>
</div>
